# Set Orca Variables
module load gamess/2013

#Set MPI Variables
setenv OMP_NUM_THREADS 1
setenv NSLOTS ${nslot}

# Set other variables
set base = `basename ${input}`

echo " Running calculation..."

rungms $base >& $SGE_O_WORKDIR/${output}

echo " Saving data and cleaning up..."
echo " Job complete on `hostname`."
